.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-back{
  background-color: #fffede;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; /* 바깥 여백을 없애기 위해 설정 */
  padding: 0; /* 안쪽 여백도 없애기 위해 설정 */
  overflow: hidden; /* 내용이 화면을 벗어나지 않도록 설정 */
}

.App-back2 {
  background-color: rgb(242, 246, 247);
}

@font-face {
  font-family: "PretendardVariable";
  src: url("./font/PretendardVariable.ttf");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  margin-bottom: 10px;
  margin-left: 1%;
  width: 100%;
  color: black;
  background-color: white;
  height: 50px;
  border: 0.5px solid black;
  border-radius: 10px;
  cursor: pointer;

  &.active {
      background-color: lightblue;
  }
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px; 
}

.btn-right {
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽에 정렬 */
  margin-top: 20px; /* 버튼 위쪽 간격 설정 */
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 2rem;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.sign-up button {
  align-self: center;
  font-size: 2rem;
}

.main-font {
  font-family: 'PretendardVariable';
}

.register-box-container {
  max-width: 500px; /* 원하는 최대 가로 길이로 조정 */
  margin: 0 auto; /* 중앙 정렬을 위해 좌우 여백 자동 조정 */
}